@import 'variables.scss';

//font family
:root.md {
  --f7-font-family: Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
}
:root.ios {
  --f7-font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}
:root.aurora {
  --f7-font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
}

//tema
.page-blue-magenta,
.bg-blue-magenta {
  background-color: $blue-magenta;
}
.bg-blue {
  background-color: $blue;
}
.bg-dark-blue {
  background-color: $dark-blue;
}
.bg-purple {
  background-color: $purple;
}
.bg-white-shade {
  background-color: $white-shade;
}

// botones
.color-pink {
  background-color: $magenta;
  // --f7-theme-color-rgb: 230, 30, 173;
  // --f7-theme-color-shade: #bb158c;
  // --f7-theme-color-tint: #ec59c2;
}

//panels

.panel {
  min-width: 100px;
  max-width: 60vw;
}