@import 'variables.scss';

//font family
:root.md {
  --f7-font-family: Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
}
:root.ios {
  --f7-font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}
:root.aurora {
  --f7-font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
}
:root {
  --f7-color-bluemagenta: #4A2CB3;
}
/*====================
  Color Overrides
  ==================== */
  .color-bluemagenta {
    --f7-theme-color: #4A2CB3;
    --f7-theme-color-rgb: 74, 44, 179;
    --f7-theme-color-shade: #4A2CB3;
    --f7-theme-color-tint: #6E28C9;
  }
  .text-color-bluemagenta {
    --f7-theme-color-text-color: #4A2CB3;
  }
  .bg-color-bluemagenta {
    --f7-theme-color-bg-color: #4A2CB3;
  }
  .border-color-bluemagenta {
    --f7-theme-color-border-color: #4A2CB3;
  }
  .ripple-color-bluemagenta,
  .ripple-bluemagenta {
    --f7-theme-color-ripple-color: rgba(255, 59, 48, 0.3);
  }

//tema
.page-blue-magenta,
.bg-blue-magenta {
  background-color: $blue-magenta;
}
.bg-blue {
  background-color: $blue;
}
.bg-dark-blue {
  background-color: $dark-blue;
}
.bg-purple {
  background-color: $purple;
}
.bg-white-shade {
  background-color: $white-shade;
}

.custom-width-panel-right {
  width: 80% !important;
  max-width: 80vw !important;
}

// botones
.color-pink {
  background-color: $magenta;
  // --f7-theme-color-rgb: 230, 30, 173;
  // --f7-theme-color-shade: #bb158c;
  // --f7-theme-color-tint: #ec59c2;
}

//panels

.panel {
  min-width: 100px;
  max-width: 60vw;
}

.image-max-width{
  background-size: cover;
  min-height: 125px;
}

.c-horizontal-scroll{
  overflow-x: scroll;
}

.c-span-card{
  background: #6E28C9;
  color: #fff;
  position: relative;
  border-radius: var(--f7-card-border-radius);
  font-size: var(--f7-card-font-size);
  // margin-top: var(--f7-card-margin-vertical);
  // margin-bottom: var(--f7-card-margin-vertical);
  // margin-left: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-left));
  // margin-right: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-right));
  box-shadow: var(--f7-card-box-shadow);
  width: 100% !important;
  white-space: nowrap;
}

.c-margin-span-card{
  margin: 4px;
}

.c-padding-span-card{
  padding: 10px;
}

.selected-span-card{
  background: #3b0186;
}

.mp-div-category{
  margin-top: 15px;
  padding-top: 15px;
}

.c-h-50{
  height: 50px;
}

.full-max-width{
  max-width: 100%;
}

.full-width{
  width: 100%;
}

.c-text-bold{
  font-weight: bold;
}

.d-block{
  display: block;
}

.c-padding-2{
  padding: 2px;
}

.default-h80-modal{
  height: 80%;
}

.default-h70-modal{
  height: 70%;
}

.default-h40-modal{
  height:40%;
}

.mt-15{
  margin-top:15px
}

.default-h30-modal{
  height:30%;
}

.custom-w20{
  width: 20% !important
}

.custom-label-top-input{
  margin-left: 15px;
  font-size: 13px;
}

.icon-color-success{
  color: #4cd964;
}

.border-disabled{
  border-color:red;
  border-width: 1px;
  border-style: solid;
}

.custom-border-selected-item{
  border-color:$blue-magenta;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--f7-card-border-radius);
}

.custom-title-form{
  font-size: 20px;
}

.custom-icon-back-form{
  font-size: 24px;
}

/* waves */

.waves {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.waves svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 80px;
  transform: rotateY(0deg);
  margin-bottom: -50px;
}

.waves .shape-fill {
  fill: var(--f7-color-bluemagenta);
}

.card-warning{
  background-color: #707175;
  font-size: 16px;
}

.icon-card-warning{
  color:white;
  font-size:40px;
}

.custom-icon-notification{
  font-size: 15px
}

.default-h-modal{
  height:55%;
}

.default-h35-modal{
  height:35%;
}

.custom-w10{
  width: 10% !important
}

.custom-label-top-input-pw{
  margin-left: 15px;
  font-size: var(--f7-label-font-size) !important;
}

.fs-14{
  font-size:14px
}


.pt-1{
  padding-top: 1px;
}

.input-quantity-table{
  width: 70px;
}