$blue-magenta: #4A2CB3; // primary
$magenta: #E61EAD;
$light-gray: hsl(246, 96%, 54%);
$white-shade: #f2f4fa61;
$light-green: #1FC870;
$blue: #3827B4;
$dark-blue: #331B83;
$purple: #6C18A4;
$red: #cb2027;
$dark: #1A1F1D;